/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : 07/04/2014, 12:23:08 PM Author     : USER
*/
body { font-family: Arial, sans-serif; font-size: 12px; background: #181817; }

.container { width: 100%; margin: 0 auto; }
.container > h1 { font-size: 40px; font-weight: bold; color: #FFF; text-align: center; }
.container > p { color: #575757; text-align: center; font-size: 20px; margin-bottom: 90px; }
.container > p a { color: #FFF; }

/* Demo Theme */
.gridder-list { list-style-type: none; padding: 0px; }
.gridder-list .item { display: inline-block; width: 150px; vertical-align: top; }
.gridder-list .item a { display: block; text-decoration: none; color: #9f9f9f; padding: 10px; }
.gridder-list .item .image { height: 236px; background: #242424; }
.gridder-list .item img { width: 100%; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; overflow: hidden; }
.gridder-list .item .title { display: block; font-weight: bold; color: #FFF; font-size: 14px; }
.gridder-list .item .description { color: #575757; min-height: 30px; }
.gridder-list.hasSelectedItem .item { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.gridder-list.hasSelectedItem .item.selectedItem { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }

.gridder-show { padding: 50px; margin-bottom: 20px; background: #242424; -webkit-box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.16); -moz-box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.16); box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.16); }
.gridder-show.loading { background: #242424 url("../images/loading-spin.svg") no-repeat center; color: #000; }
.gridder-show .padding { display: none; }
.gridder-show .images { float: left; width: 50%; }
.gridder-show .images img { width: 100%; }
.gridder-show .content { float: left; width: 50%; padding: 0 50px; color: #575757; }
.gridder-show .content h1 { display: block; font-size: 30px; color: #FFF; text-transform: uppercase; }
.gridder-show .content hr { border: 0px; border: 1px solid #575757; margin: 20px 0; }
.gridder-show .content p { font-size: 16px; line-height: 150%; color: #ADADAD; }
.gridder-show .navigation { text-align: left; overflow: hidden; *zoom: 1; margin-bottom: 40px; }
.gridder-show .navigation a { display: inline-block; color: #FFF; }
.gridder-show .navigation .closeModal { float: right; }
