/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : 07/04/2014, 12:23:08 PM Author     : USER
*/
body { font-family: Arial, sans-serif; font-size: 12px; background: #414141; }

/* Demo Theme */
.gridder-list { list-style-type: none; padding: 0px; margin: 0px -5px; }
.gridder-list .item { display: inline-block; width: 14.28%; border: 7.5px solid #414141; margin-bottom: 7.5px; }
.gridder-list .item a { text-decoration: none; color: #9f9f9f; }
.gridder-list .item.selectedItem a { color: #FFF; }
.gridder-list .item img { width: 100%; }
.gridder-list .item .title { display: block; font-weight: bold; }

.gridder-show { padding: 20px; margin-bottom: 20px; background: #EEE; }
.gridder-show.loading { background: #EEE url("../images/loading-spin.svg") no-repeat center; color: #000; }
.gridder-show .padding { display: none; }
.gridder-show .images { float: left; width: 50%; }
.gridder-show .images img { width: 100%; }
.gridder-show .content { float: left; width: 50%; padding-left: 20px; color: #414141; }
.gridder-show .content .title { display: block; font-size: 30px; }
